<%- include('../partials/header.ejs') %>

    <main>
    <div class="home">
        <img src="<%= image %>">
    </div>
    <!-- <div>
        <%= JSON.stringify(animeData.animes) %>
    </div>
    <% for (let i = 0; i < 4; i++) { %>
    <div class="list">
        <h1>(Filter)</h1>
        <% for (let i = 0; i < 20; i++) { %>
        <div></div>
        <% } %>
    </div>
    <% } %>
    </main> -->
    <!-- <%= JSON.stringify(animeData.animes) %> -->
    <br>
    <form action="/" method="GET">
        <input type="text" name="keyword" placeholder="Enter an anime keyword!">
        <button type="submit">Search</button>
    </form>
    </div>
    <!-- <h1>(Filter)</h1> -->
    <div class="list">
        <% animeData.animes.forEach(function(a) { %>
        <div>
            <img src="<%= a.node.main_picture.large %>">
        </div>
        <% }); %>
    </div>
<%- include('../partials/footer.ejs') %>