<%- include('../partials/header.ejs') %>

    <main>
        <div class="home">
            <img src="<%= image %>">
        </div>
        <br>
        
        
        
        <form action="/" method="GET">
            <input type="text" name="keyword" autocomplete="off" 
            placeholder="Search..." spellcheck="false"
            pattern="{1,}" required>
            <br>
            <button type="submit"><img src="<%= search_img %>"></button>
        </form>
    
        
        
        <% for (let i = 0; i < 1; i++) { %>
            <% if (keyword) { %>
                <h1>Search results for "<%= keyword %>"</h1>
            <% } else { %>
                <h1>Random</h1>
            <% } %>
            <div id="results" class="list">
                <% animeData.animes.forEach(function(a) { %>
                    <a href="">
                        <p><%= a.node.title %></p>
                        <img src="<%= a.node.main_picture.large %>">
                    </a>
                <% }); %>
            </div>
        <% } %>

        <div style="color: black; font-size: 1vh">
            JSON Stringify:<br>
            <%= JSON.stringify(animeData.animes) %>
        </div>
    </main>

<%- include('../partials/footer.ejs') %>