<%- include('../partials/header') %>

<main>
  <img src="<%= image %>">
  <div id="results" class="list">
    <% animes.forEach(function(a) { %>
      <div>
        <p><%= a.title %></p>
        <p><%= a.releaseYear %></p>
        <a href="/animes/<%= a._id %>">Details</a><br><br>
      </div>
    <% }); %>
  </div>
</main>

<%- include('../partials/footer') %>