<%- include('../partials/header') %>
  <table id="list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Aired</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% animes.forEach(function(a) { %>
        <tr>
          <td>
            <%= a.title %>
          </td>
          <td>
            <%= a.releaseYear %>
          </td>
          <td><a href="/animes/<%= a._id %>">Details</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>