<%- include('../partials/header') %>
<main>
<h1>Anime Search</h1>
<br><br>
<form action="/animes/new" method="GET">
  <!-- input bug: doesn't allow 1-2 characters -->
  <input type="text" name="keyword" autocomplete="off" 
  placeholder="Search..." spellcheck="false"
  pattern=".*[^ ].*" required>
  <br>
  <button type="submit"><img src="<%= search_img %>"></button>
</form>

<% for (let i = 0; i < 1; i++) { %>
  <% if (keyword) { %>
      <h2>Search results for "<%= keyword %>"</h2>
  <% } else { %>
      <h2>Random</h2>
  <% } %>
  <div id="results" class="list">
    <% animeData.data.forEach(function(a) { %>
      <div>
          <p><%= a.node.title %></p>
          <form action="/animes" method="POST">
              <!-- Hidden forms! -->
              <input type="hidden" name="animeID" value="<%= a.node.id %>">
              <input type="hidden" name="animeFields" value="<%= fields %>">
              <input type="hidden" name="title" value="<%= a.node.title %>">
              <input type="hidden" name="releaseYear" value="2022">
              <input type="hidden" name="mpaaRating" value="PG-13">
              <input type="hidden" name="nowShowing" value="true">
              <!-- cast bug: value must be blank -->
              <input type="hidden" name="cast" value="">
              <input type="hidden" name="large" value="<%= a.node.main_picture.large %>">
              <input type="hidden" name="medium" value="<%= a.node.main_picture.medium %>">
              <button type="submit">
                  <img src="<%= a.node.main_picture.large %>">
              </button>
          </form>
      </div>
  <% }); %>
  </div>
<% } %>

</main>
<%- include('../partials/footer') %>
